        h1{
            color:rgb(120,220,150);
            background-color:aquamarine;
        }
        p{
            color:hotpink;
            background-color: cornsilk;
        }
        button{
            background-color: black;
            color:gold;
        }