h1{
    text-align: center;
    text-decoration: red wavy underline;

}
h3{
    text-align: right;
    font-weight: 300;
    text-decoration: pink overline;
}
p{
    text-align: justify;
    line-height: 2.5;
    letter-spacing: normal;
    font-size: 15px;
    
}
h2{
    text-align: center;
    font-weight: bold;
    text-decoration:blue double line-through;
    font-family: impact;
}a{
    text-decoration: none;
}