<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <div class="header">Header(1row, 12col)</div>
    <div class="slidebar">Slidebar(10row, 3col)</div>
    <div class="navigation">Navigation(1row, 6col)</div>
    <div class="ads">Ads (10row, 3col)</div>
    <div class="main">main (9row, 6col)</div>
    <div class="footer">Footer(1row, 12col)</div>
    </div>
</body>
</html>