
*{
    font-family: "Courier New";
}
h1{
    color:#1b74e4
}

#login{
    background-color: aqua;
    color: black;
}
#Register{
    background-color: aqua;
    color: black;
}
button{
    color: white;
    background-color: black;
}