h1{
    background-color: blueviolet;
    border: 2px solid black;
}
/*@media (width:400px){
    h1{
        background-color: brown;
        color: white;
    }
    div{
        height: 100px;
        width:100px;
        background-color: cadetblue;
    }
}*/
/*@media(min-width:400px){
    div{
        background-color: cadetblue;
    }
    h1{
        background-color: brown;
        color: white;
    }
}*/
@media (min-width:200px) and (max-width:600px)
{
    h1{
        background-color: pink;
    }
    div{
        background-color: darkgreen;
    }
}
@media (orientation: landscape){
    h1{
        background-color: red;
        color: yellow;
    }
}